<!DOCTYPE html>
<html>
  <head>
    <title>Redsocial</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag "registration" %>
    <%= javascript_pack_tag "navigation" %>
    <%= javascript_pack_tag "posts" %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">

    </head>

  <body>
    <% if user_signed_in? %>
      <%= react_component("Navigation") %>
    <% end %>
    <%= yield %>
  </body>
</html>
